#view-canvas {
  width: 75vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: 1px solid black
}

canvas {
  width: 100%;
}

#start-btn  {
  color: white;
  margin-bottom: 3vh
}

#end-btn  {
  margin-bottom: 3vh
}

.grid {
  padding-bottom: 0px!important;
  height: 40vh;
  width: 20%;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#drive   {
  display: none;
}

.bullet {
  width: 2em;
  margin-right: 1em;
  margin-top: 1em
}

span  {
  font-size: 5vh;
  margin-top: 1em
}

.btns {
  margin-top: 2em
}
