#view-canvas {
  width: 80vw;
  height: 50vh;
  border: 2px solid black;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#arrow-left {
  display: inline !important;
  font-size: 48px;
  /*margin: 1em*/
}

#arrow-right  {
  display: inline !important;
  font-size: 48px;
  /*margin: 1em*/
}

#arrow-up {
  font-size: 48px;
  /*margin: 1em*/
}

#arrow-down {
  font-size: 48px;
  /*margin: 1em*/
}

#start-btn  {
  color: white;
  margin-bottom: 3vh
}

#end-btn  {
  margin-bottom: 3vh
}
