#view-canvas {
  width: 80vw;
  height: 50vh;
  border: 2px solid black;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#start-btn  {
  color: white;
  margin-bottom: 3vh
}

#end-btn  {
  margin-bottom: 3vh
}

.grid {
  padding-bottom: 0px!important;
  height: 40vh;
  width: 20%;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
}
