body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

footer {
  bottom: 0;
}

.nav {
  color: white;
}

#logo {
  color: white;
}

.section {
  width: 100%;
  height: 50em;
}

.feature {
  width: 100%;
  height: 12em;
}

.jumbotron {
  background: url(http://img03.deviantart.net/db0b/i/2005/045/b/0/flying_through_space_by_alienpickles.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9
}

#robot {
  opacity: .8;
  width: 75%;
  padding-bottom: 3.75em;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2em;
}

.headline h2 {
  font-size: 4.9em;
  color: white;
  font-family: 'Monda', sans-serif;
  line-height: 1.2em;
  opacity: .9;
  text-align: right;
  padding-left: .5em;
  margin-bottom: 0;
}

.try {
  width: 100%;
}

#try-it {
  width: 35%;
  margin-top: 2em;
  margin-bottom:2em;
  height: 3em;
  font-size: 1em;
  font-family: 'Monda', sans-serif;
}

#try-it a {
  text-decoration: none;
  color: black;
}

.about {
  font-size: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../images/bot4.png);
  background-attachment: fixed;
  background-position: 4em 15em;
  background-repeat: no-repeat;
  background-size: 11em;
}

.about h4 {
  margin: 0;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
  text-align: center;
}

.col img {
  height: 2.5em;
}

.col p {
  font-size: .65em;
  line-height: 1.2em;
  padding-top: 1em;
}

.form-content {
  height: 80vh;
}

form {
  width: 75%;
}

md-card {
  width: 60%;
  height: 80%;
}

md-input-container {
  width: 70%;
}

.error {
  color: #820004;
}

.robot img {
  width: 100%;
}
