<canvas id="view-canvas" class="container" ng-model=$ctrl.stream>
    <h3>view canvas goes here</h3>
</canvas>

<div layout="row" layout-align="center center" class="">
    <md-button id="start-btn" class="md-primary md-raised">Start</md-button>
    <md-button id="end-btn" class="md-warn md-raised">End</md-button>
</div>

<section layout="column" layout-align="center center">
    <div>
        <md-icon ng-bind="'keyboard_arrow_up'" id="arrow-up"></md-icon>
    </div>

    <div>
        <md-icon ng-bind="'keyboard_arrow_left'" id="arrow-left"></md-icon>
    </div>

    <div>
        <md-icon ng-bind="'keyboard_arrow_right'" id="arrow-right"></md-icon>
    </div>

    <div>
        <md-icon ng-bind="'keyboard_arrow_down'" id="arrow-down"></md-icon>
    </div>
</section>

<button type="button" ng-click="$ctrl.wsavc.playStream()">Start Video</button>
<button type="button" ng-click="$ctrl.wsavc.stopStream()">Stop Video</button>
<button type="button" ng-click="$ctrl.wsavc.disconnect()">Disconnect</button>

<script type="text/javascript" src="http-live-player.js"></script>
<script type="text/javascript">

    var canvas = document.createElement("canvas");
    document.body.appendChild(canvas);

    // Create h264 player
    var uri = "ws://" + document.location.host;
    var wsavc = new WSAvcPlayer(canvas, "webgl", 1, 35);
    wsavc.connect(uri);

    //expose instance for button callbacks
    window.wsavc = wsavc;
</script>
