<div layout="row" layout-align="center center" class="btns">
    <md-button id="start-btn" class="md-primary md-raised" ng-click="$ctrl.driveMe()" onclick="wsavc.playStream()">Start</md-button>
    <md-button id="end-btn" class="md-warn md-raised" onclick="wsavc.stopStream()">End</md-button>
</div>
<div id="view-canvas" layout="column" layout-align="center center" class="container" ng-model=$ctrl.stream>
    <ul ng-show="$ctrl.show">
        <img class="bullet" src="../assets/images/nodebot_black.png" alt="">
        <span>Step 1: Click the start button</span>
        <br><br>
        <img class="bullet" src="../assets/images/nodebot_black.png" alt="">
        <span>Step 2: Use arrow keys to drive robot</span>
        <br><br>
        <img class="bullet" src="../assets/images/nodebot_black.png" alt="">
        <span>Step 3: Have fun!</span>
        <br><br>
        <img class="bullet" src="../assets/images/nodebot_black.png" alt="">
        <span>Step 4: When finished, click end</span>
    </ul>
</div>
<input type="text" id="drive" ng-keydown="$ctrl.keyPress()" ng-keyup="$ctrl.keyRelease()">
