<md-content class="form-content" layout="column" layout-align="center center">
    <md-card layout-align="center center">
        <h1>{{$ctrl.greeting}}</h1>
        <form name="signupForm" layout="column" ng-submit="$ctrl.submitForm()">
            <md-input-container>
                <label>Username</label>
                <input ng-model="$ctrl.user.username" required>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="$ctrl.user.password" type="password" required>
            </md-input-container>
            <md-button aria-label="Log Out" class="md-raised md-warn" ng-click="show = !show" type="submit" ng-disabled="signupForm.$invalid">
                {{$ctrl.greeting}}
            </md-button>
        </form>
    </md-card>
</md-content>
