<md-content layout="column" layout-align="center center">
    <h1>Hello!</h1>
    <form name="signupForm" layout="column" ng-submit="$ctrl.submitForm()">
        <md-input-container>
            <label>Username</label>
            <input ng-model="$ctrl.user.username" required>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="$ctrl.user.password" type="password" required>
        </md-input-container>
        <md-button aria-label="Log Out" class="md-raised md-warn" type="submit" ng-disabled="signupForm.$invalid">
            Signup
        </md-button>
    </form>
</md-content>
